snippet sqlblock "code block"
```sql
${1}
```
endsnippet

snippet rarrow "right arrow"
```sql
$\\rightarrow$
```
endsnippet

snippet bold "bold font"
**${1}**
endsnippet

snippet ita "Italic font"
***${1}***
endsnippet

snippet h1 "Heading 1"
#${1}
endsnippet

snippet h2 "Heading 2"
##${1}
endsnippet

snippet h3 "Heading 3"
###${1}
endsnippet
